.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.canvasContainer {
    display: flex;
}

.book {
    width: 33%;
}

.canvas {
    min-height: 700px;
    height: calc(100vh - 248px) !important;
    max-height: 900px;
}

.easyTitle {
    font-weight: 400;
    margin: 15px;
}

.quitText {
    margin: 0px;
    padding: 0 20px;
    font-weight: 400;
}

.orText {
    margin: 10px;
    font-weight: 400;
}

.goDownBtn {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
}

    .goDownBtn:hover {
        background-color: #ddd;
        cursor: pointer;
    }

.downArrowImg {
    height: 40px;
}

.siteList {
    text-align: left;
    padding: 0 100px;
}

.bookName {
    font-weight: 400;
    font-size: 16pt;
    text-decoration: underline;
}

.bookLink {
    display: block;
    padding-bottom: 30px;
}

@media (max-width: 1250px)
{
    .canvasContainer {
        display: block;
    }

    .book {
        width: 100vw;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
